body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('Background_1.png');
    background-repeat: no-repeat; /* Ensures the images doesn't repeat*/
    background-attachment: fixed; /* This makes sure that the background image covers the background and is undistorted*/
    background-size: cover; /* Ensures the image covers the entire background*/
}
.menubar{
    overflow: hidden;
    background-color:darkslategray;
    opacity: 0.9;
    position:fixed; /* Sets the menu bar to the fixed position*/
    top:0; /* Positions the menu bar at the top of the page*/
    width:100%; /* Makes the menu bar full width */
}
.menubar a{
    float:left;
    color:white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.menubar a:hover{
    background-color: white;
    color: black;
}

.menubar a.current{
    background-color:#4c7f7f;
    color:white;
}

.content{
    padding:15px;
}