h1{
    font-family:Arial, Helvetica, sans-serif;
    color: black;


}

body{
    color: black;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('Background_2.JPG');
    background-repeat: no-repeat; /* Ensures the images doesn't repeat*/
    background-attachment: fixed; /* This makes sure that the background image covers the background and is undistorted*/
    background-size: cover; /* Ensures the image covers the entire background*/
}
.menubar{
    overflow: hidden;
    background-color:darkslategray;
    opacity: 0.9;
    
}
.menubar a{
    float:left;
    color:white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.menubar a:hover{
    background-color: white;
    color: black;
}

.menubar a.current{
    background-color:#4c7f7f;
    color:white;
}

.content{ /* Contains the page content */
    padding:15px;
}

.sticky{ /* this class is added to the menubar using JS when it reaches the scrolled position specified */
    position:fixed; /* Sets the menu bar to the fixed position*/
    top:0; /* Positions the menu bar at the top of the page*/
    width:100%; /* Makes the menu bar full width */
}

.sticky + .content{ /* THis adds some padding to the top of the page to prevent sudden movement */
    padding-top:60px;
}